

<div>
  <h2><%= link_to "抓取用户情况", dusers_path%></h2>
  <h4>共<%= @duser_size %>个，最后一个：</h4>
  <table>
    <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>C follower</th>
      <th>C m do</th>
      <th>C m wish</th>
      <th>C m collect</th>
      <th>C doulist</th>
      <th>Error</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <% if @duser_last != nil %>
    <tbody>
      <tr>
        <td><%= @duser_last.did %></td>
        <td><%= @duser_last.uid %></td>
        <td><%= @duser_last.name %></td>
        <td><%= @duser_last.c_follower %></td>
        <td><%= @duser_last.c_m_do %></td>
        <td><%= @duser_last.c_m_wish %></td>
        <td><%= @duser_last.c_m_collect %></td>
        <td><%= @duser_last.c_doulist %></td>
        <td><%= @duser_last.error %></td>
        <td><%= link_to 'Show', @duser_last %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>

<br/><br/>

<div>
  <h2><%= link_to "抓取电影情况", movies_path%></h2>
  <h4>共<%= @movie_size %>个，最后一个：</h4>

  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Poster</th>
      <th>Subtype</th>
      <th>Pubyear</th>
      <th>Imdb</th>
      <th>Summary</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <% if @movie_last != nil %>
    <tbody>
      <tr>
        <td><%= @movie_last.title %></td>
        <td><%= @movie_last.rating %></td>
        <td><%= @movie_last.poster_id %></td>
        <td><%= @movie_last.subtype %></td>
        <td><%= @movie_last.pubyear %></td>
        <td><%= @movie_last.imdb_id %></td>
        <td><%= @movie_last.summary %></td>
        <td><%= link_to 'Show', @movie_last %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>
