<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @award.movie_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @award.name %>
</p>

<p>
  <strong>Sub:</strong>
  <%= @award.sub %>
</p>

<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
