<%= form_for(@movie_language) do |f| %>
  <% if @movie_language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie_language.errors.count, "error") %> prohibited this movie_language from being saved:</h2>

      <ul>
      <% @movie_language.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :movie_id %><br>
    <%= f.number_field :movie_id %>
  </div>
  <div class="field">
    <%= f.label :language_id %><br>
    <%= f.number_field :language_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
