<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @photo.movie_id %>
</p>

<p>
  <strong>Pid:</strong>
  <%= @photo.pid %>
</p>

<p>
  <strong>Cdn:</strong>
  <%= @photo.cdn %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
