<%= form_for(@aka) do |f| %>
  <% if @aka.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aka.errors.count, "error") %> prohibited this aka from being saved:</h2>

      <ul>
      <% @aka.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :movie_id %><br>
    <%= f.number_field :movie_id %>
  </div>
  <div class="field">
    <%= f.label :aka %><br>
    <%= f.text_field :aka %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
